<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ACRES</string>
	<string>ADULT</string>
	<string>ARRANGEMENT</string>
	<string>ATTEMPT</string>
	<string>AUGUST</string>
	<string>AUTUMN</string>
	<string>BORDER</string>
	<string>BREEZE</string>
	<string>BRICK</string>
	<string>CALM</string>
	<string>CANAL</string>
	<string>CONSTANTLY</string>
	<string>CHOSE</string>
	<string>JAZZ</string>
	<string>BUZZ</string>
	<string>HAJJ</string>
	<string>FIZZ</string>
	<string>FUZZ</string>
	<string>BUZZING</string>
	<string>JINX</string>
	<string>PUFF</string>
	<string>QUIZ</string>
	<string>BUFF</string>
	<string>BUZZER</string>
	<string>DIZZY</string>
	<string>JIFF</string>
	<string>ZIT</string>
	<string>VEX</string>
	<string>SIX</string>
	<string>MYRRH</string>
	<string>RHYME</string>
	<string>BABES</string>
	<string>COZY</string>
	<string>HELP</string>
	<string>CLAWS</string>
	<string>FIREPLACE</string>
	<string>INDEPENDENT</string>
	<string>MISSION</string>
	<string>SIMPLEST</string>
	<string>TOBACCO</string>
	<string>THUMB</string>
	<string>TUNE</string>
	<string>VAPOR</string>
	<string>SHALLOW</string>
	<string>HAPPY</string>
	<string>REQUIRE</string>
	<string>RELATIONSHIP</string>
	<string>GARAGE</string>
	<string>COACH</string>
	<string>EXCHANGE</string>
	<string>IMAGE</string>
	<string>OFFICIAL</string>
	<string>UNIVERSITY</string>
	<string>HUNTER</string>
	<string>POETRY</string>
	<string>FORT</string>
	<string>PHILADELPHIA</string>
	<string>NUTS</string>
	<string>RECALL</string>
	<string>TOY</string>
	<string>NEIGHBORHOOD</string>
	<string>COOKIES</string>
	<string>FLOATING</string>
	<string>FILM</string>
	<string>POLICE</string>
	<string>ABRUPTLY</string>
	<string>AFFIX</string>
	<string>ASKEW</string>
	<string>AXIOM</string>
	<string>AZURE</string>
	<string>BANDWAGON</string>
	<string>BANJO</string>
	<string>BIKINI</string>
	<string>BUFFOON</string>
	<string>BOOKWORM</string>
	<string>BOXCAR</string>
	<string>DAIQUIRI</string>
	<string>CROQUET</string>
	<string>EQUIP</string>
	<string>DUPLEX</string>
	<string>FIXABLE</string>
	<string>FISHHOOK</string>
	<string>HAPHAZARD</string>
	<string>IVORY</string>
	<string>JAUNDICE</string>
	<string>JAWBREAKER</string>
	<string>GIZMO</string>
	<string>FOXGLOVE</string>
	<string>DWARVES</string>
	<string>IVY</string>
	<string>INJURY</string>
	<string>KIOSK</string>
	<string>NUMBSKULL</string>
	<string>OVARY</string>
	<string>PIZAZZ</string>
	<string>PNEUMONIA</string>
	<string>BIRTHDAY</string>
	<string>POLKA</string>
	<string>SEXY</string>
	<string>QUORUM</string>
	<string>RHUBARB</string>
	<string>MICROWAVE</string>
	<string>SCHIZOPHRENIA</string>
	<string>GOOD NIGHT</string>
	<string>SPHINX</string>
	<string>UNKNOWN</string>
	<string>LARYNX</string>
	<string>SQUAWK</string>
	<string>TOPAZ</string>
	<string>VODKA</string>
	<string>ZILCH</string>
	<string>YIPPEE</string>
	<string>ZIGZAG</string>
	<string>ZOMBIE</string>
	<string>ZODIAC</string>
	<string>VORTEX</string>
	<string>XYLOPHONE</string>
	<string>VAPORIZE</string>
	<string>WALKWAY</string>
	<string>SWIVEL</string>
	<string>WAVY</string>
	<string>QUARTZ</string>
	<string>YACHT</string>
	<string>UPTOWN FUNK</string>
	<string>SUBWAY</string>
	<string>LET IT BE</string>
	<string>VIXEN</string>
	<string>BAYOU</string>
	<string>GALVANIZE</string>
	<string>GALAXY</string>
</array>
</plist>
